.footer {
    position:relative;
    background-color: #eeeeee;
    width: 100%;
}
#teste{
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 0px;

}
#ifc{
    height: 71px;
    width: 300px;
    margin-left:20px;
}
#input{
    margin-top:3%;
    margin-left:20%;
}
p{
    margin-top: 25px;
}
.glyphicon-home{
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
}
.texto{
    display:-webkit-box;
}
#username, #password{
	margin-top: 10%;
}
#submit{
	margin-top: 10%;
	margin-left: 75%
}

.login1{
	background-color:#389c3a;
	border-radius:10px;
}
h2{
	color:white;
	padding-top:6px;
}
.logar{
	background-color: #eeeeee;
}
#alert{
	width:208.5px;
}
.login{
	background-color:#eeeeee;
	border-radius:10px;
}
.navbar-default{
    background-color: #0c691c;
}