#username, #password{
	margin-top: 15%;
}
#submit{
	margin-top: 10%;
	margin-left: 75%
}
.conteudo{
	min-height:390px;
}
.login1{
	background-color:#389c3a;
	border-radius:10px;
}
h2{
	color:white;
	padding-top:6px;
}
.logar{
	background-color: #eeeeee;
}
#alert{
	width:208.5px;
}
.login{
	background-color:#eeeeee;
	border-radius:10px;
}